<section class="hero-footer"  >
  <div class="section_wrapper wrap">
    <div class="container_item">
      <a pageScroll [pageScrollDuration]="0" [pageScrollOffset]="9999" routerLink="/" href="#top-gallery"><img src="/assets/img/лого%20copy.png" class="logo" alt="logo_images"></a>
      <p class="footer_information">
        Свадебный фотограф Киев <br>
        Евгений Осокин <br>
        ievgeniiosokin@gmail.com <br>
        093-534-53-71 <br>
      </p>
      <div class="social">
        <a href="https://www.facebook.com/evgeniosokin" class="social_item" target="_blank"><img src="/assets/img/fb.png" alt="img" class="fb"></a>
        <a href="https://www.instagram.com/evgeniyosokin/" class="social_item" target="_blank"><img src="/assets/img/insta.png" alt="img" class="inst"></a>
        <a href="https://www.youtube.com/channel/UCmYHwS5zsnpeyeaCmXr31Hw" class="social_item" target="_blank"><img src="/assets/img/yt.png" alt="img" class="yt"></a>
      </div>
    </div>
    <p class="footer_end">Сайт Евгения Осокина. Все права защищены 2018 г. <a target="_blank" href="http://webdf.com.ua/">Создано Фиалко Дмитрием</a></p>
  </div>
</section>
