@import "../../../../styles"
.hero-footer
  position: relative
  background-color: rgba(0, 153, 255, 0.65)
.section_wrapper
  text-align: center
  padding: 25px 10px 15px
.container_item
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  .logo
    padding-bottom: 15px
  .footer_information
    font: 400 16px/22px $Montserrat
    padding: 0 8px 15px
  .worlds
    display: flex
    justify-content: space-around
    padding-bottom: 15px
    &_item
      transition: all .25s ease-out
      padding: 0 10px
      &:last-child
        padding-right: 0
      &:hover
        transform: scale(1.1)
  .fb, .inst, .yt
    height: 35px
    width: auto
  .footer_end
    padding-top: 25px
    font-family: $Montserrat
    font-size: 12px
    & a
      text-decoration: none
      color: #cbcac7
      font-size: 14px
