<section class="content_family">

  <div class="content_family_wrapper wrap">

    <div class="name_section">Семейная съёмка</div>
    <h3 class="section_desc">
      Семейная фотосъемка – один из наиболее трепетных и чувственных жанров. В кругу родных не приходится изображать радость и «рисовать» на своем лице улыбку. Рядом с близкими людьми мы испытываем самые искренние и теплые эмоции, а значит, снимки получаются волшебными.<br>
      Давайте вместе создавать незабываемые семейные фотографии!
    </h3>
    <div class="block_wrapper">
      <img src="/assets/img/1920_600%20ШАПКИ%20ДЛЯ%20СТРАНИЦ/page-family.jpg" alt="img" class="block_wrapper_image">
      <div class="block_wrapper_information">
        В результате съёмки вы получаете массу позитивных эмоций. а так же: <br>
        1 – 2 час съемки ( обсуждается индивидуально)<br>
        •	Минимум 20 обработанных фотографий (цветокорекция, детальная ретушь, подготовленные фото к печати)<br>
        •	Стоимость одного часа - 500 грн.<br>
        •	Несколько идей для проведения фотосессии<br>
        •	Ссылка на файлообменник (все фотографии + фото с ретушью)<br>
        •	Ваши фотографии будут готовы в течении 2х недель<br>
        <br>
        + Бонус – скидка 10% на фотокнигу<br>
        <br>
        Бронь даты после внесения предоплаты в размере 20% от суммы<br>
        Если съемки проходят за городом – дорога оплачивается заказчиком.<br>
        <br>
        Дополнительно Вы можете заказать услуги:<br>
        •	Визажиста – от 400 грн.<br>
        •	Стилиста по прическам – от 500 грн.<br>
        •	Декоратора<br>
        *их услуги оплачиваются отдельно<br>
      </div>
      <button routerLink="/Pages404" class="content_family_btn" mat-ripple>Подробнее</button>
    </div>

  </div>

</section>
