@import "../../../../../styles"

.about_me_wrapper
  max-width: 932px
  margin: 0 auto
  padding-top: 30px
  padding-bottom: 168px
.name_section
  text-align: center
.content_container
  padding-top: 50px
  display: flex
  justify-content: space-between
.my_photo
  box-shadow: 0 3px 9px -1px rgba(0,0,0,0.7)
.about_me_information
  max-width: 629px
  font-size: 16px
  font-family: $Montserrat
  & strong
    font-weight: bold
    font-size: 16px
