<section class=".about_me">

  <div class="wrap">
    <div class="about_me_wrapper">
      <h2 class="name_section">Свадебный фотограф Киев</h2>
      <div class="content_container">
        <img src="/assets/img/1-2.jpg" alt="my_photo" class="my_photo" width="223" height="285">
        <p class="about_me_information">
          <strong>Здравствуйте!<br>
          Меня зовут Евгений - я профессиональный свадебный и семейный фотограф.</strong>
          <br>
          <br>
          Безусловно, в жизни каждого человека есть моменты, которые хочется запомнить и сохранить в памяти на всю жизнь - первые дни жизни малыша, веселые праздники, торжественные свадьбы или просто столь нежные и ценные минуты рядом с любимыми людьми.
          Я точно знаю о важности этих дней для Вас.. и точно знаю как сохранить Ваши воспоминания и эмоции на долгие годы.
          <br>
          <br>
          Я работаю фотографом более 3 лет и за это время мне удалось провести съемки в разных уголках планеты - от уютных улочек сказочной Варшавы до удивительных городов Южной Кореи.
          <br>
          <br>
          С этими и другими моими работами Вы можете ознакомиться далее на этом сайте или в социальных сетях.
        </p>
      </div>
    </div>
  </div>

</section>
