<section class="top-gallery" id="top-gallery">

  <swiper [config]="config" class="case_top_galley">
    <div class="swiper-wrapper">
      <div class="swiper-slide" ><img src="/assets/img/top_gallery/top_gallery1.jpg" alt="img" class="swiper-wrapper_item">
        <div class="gallery_text">
          <h1 class="gallery_text_item"> СВАДЕБНАЯ СЪЁМКА</h1>
        </div>
      </div>
      <div class="swiper-slide" ><img src="/assets/img/top_gallery/top_gallery2.jpg" alt="img" class="swiper-wrapper_item">
        <div class="gallery_text">
          <h1 class="gallery_text_item">СЪЁМКА LOVE STORY</h1>
        </div>
      </div>
      <div class="swiper-slide" ><img src="/assets/img/top_gallery/top_gallery3.jpg" alt="img" class="swiper-wrapper_item">
        <div class="gallery_text">
          <h1 class="gallery_text_item">СВАДЕБНАЯ СЪЁМКА</h1>
        </div>
      </div>
      <div class="swiper-slide" ><img src="/assets/img/top_gallery/top_gallery4.jpg" alt="img" class="swiper-wrapper_item">
        <div class="gallery_text">
          <h1 class="gallery_text_item">СЕМЕЙНАЯ СЪЁМКА</h1>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>
</section>

