<section class="portfolio-page-portfolio" id="portfolio-page-portfolio">

  <div class="portfolio-page-portfolio_wrapper wrap">
    <h2 class="name_section">Портфолио</h2>
    <div class="container_wrapper">
      <a class="container_item" routerLink="/AlbumPortfolio/{{item.id}}" *ngFor="let item of portfolio">
        <img src="{{ item.banner }}" alt="img" class="images_item">
        <p class="name_item">{{ item.AlbumName }}</p>
        <div class="overlay_bg"></div>
      </a>
    </div>
  </div>
  <a pageScroll [pageScrollDuration]="0" [pageScrollOffset]="999"  href="#portfolio-page-portfolio" title="Вернуться к началу" class="topbutton"><img src="/assets/img/up.png" alt="arrow_up"></a>
</section>
