<section class="useful-articles-blog">
  <div class="useful-articles-blog_wrapper wrap">
    <div class="name_section">Полезные статьи</div>
    <div class="container_wrapper">
      <div class="items_container" id="choice">
        <img src="/assets/img/choice.jpg" alt="img" class="item_images">
        <p class="name_item">Выбор фотографа</p>
        <p class="contain_item info_media">
          Фотограф — один из важнейших свадебных подрядчиков. Мы подготовили для тебя советы, которые помогут избежать ошибок при выборе фотографа на свадьбу.
          <br>
          <br>
          1. Выбор фотографа <br>
          С чего следует начать выбор? Прежде всего это составить список понравившихся фотографов. Где искать фотографов? Социальные сети, сейчас очень популярный инструмент для поиска различных услуг, развлечений и в том числе фотографов. Друзья, родственники или знакомые кто уже пользовался услугами фотографов и могут порекомендовать достойного кандидата. Изучите портфолио на сайте фотографа — это позволит понять стиль его работы. Не стоит забывать и то, что на сайте собраны самые лучшие работы. Желательно при выборе увидеть всю серию, весь свадебный день, чтобы составить полную картину стиля и манеры съемки.
          <br>
          <br>
          2. Отделяйте спецэффекты от мастерства автора<br>
          Успешная фотосессия — это результат слаженной работы всех профессионалов (организатора, дизайнера, флориста, стилиста), а не показатель мастерства одного только фотографа.
          В любом случае стоит понимать, что стилизованные фотосессии — это постановка. Такие серии получаются в статичных условиях в результате кропотливого и упорного труда и многочасового позирования моделей. Это не означает, что фотографам, которые делают стилизованные проекты, не стоит доверять. Многие мастера своего дела имеют в своем портфолио такие работы. Просто не основывай свой выбор только на этих снимках, попроси фотографа предоставить кадры с реальных свадеб.
          <br>
          Стоит понимать, что работа на свадьбах имеет особую специфику: надо уметь поймать кадр, оказаться в нужное время в нужном месте. Это импровизация, и она требует навыков, продемонстрировать которые фотосессия не может. Но именно эту способность легко увидеть на снимках реальных свадеб — стоит только присмотреться.
          <br>
          <br>
          3. Осторожно «Профессионал»
          В процессе поисков наверняка будут попадаться фотографы с громкими регалиями. Это конечно производит впечатление, и сразу понятно, что человек не первый год в этом деле и подходит к делу ответственно.
          Но это не должно быть решающим фактором при выборе фотографа. Не награды и премии должны быть на первом месте, а сами работы фотографа.
          <br>
          <br>
          4. Детали в серии фотографа можно встретить снимки где запечатлены элементы декора, безделушки, украшения, прочий реквизит. Такие снимки должны присутствовать в серии, поскольку это часть праздника. Ребята при подготовке старались и выбирали цветы и все эти безделушки, чтобы создать особую атмосферу. Таких фото должно быть в меру.
          <br>
          <br>
          5. Личная встреча очень важна.
          Сейчас очень просто найти все что необходимо через социальные сети. Достаточно просто ввести необходимый запрос. Так и с поиском фотографа. Можно оценить уровень профессионализма, качество работ, обсудить все интересующие вопросы.
          По моему мнению личная встреча со свадебным фотографом важна. Она дает возможность познакомиться с человеком лично. Фотограф это человек с которым Вам предстоит провести целый день – от момента сборов утром до самого вечера. Поэтому Вам должны нравиться не только фотографии, но и человек который их создает.
          <br>
          Обязательно пообщайтесь с фотографом. Не стесняйтесь задавать вопросы обо всем, что Вас волнует, насколько этот человек подходит Вам не только на профессиональном, но и на личном уровне. От всех этих факторов будет зависеть и конечных результат. Ведь если Вам комфортно в обществе с этим человеком и фотографии в таком случае получатся живые и эмоциональные.
          <br>
          <br>
          6. Отзывы о работе фотографа
          Одним из важных моментов при выборе фотографа является наличие отзывов о работе. С отзывами о моей работе можно ознакомиться на страничке Facebook по прямой ссылке

        </p>
        <!--<button class="btn_mnu" mat-ripple routerLink="/pages404">Читать далее</button>-->
      </div>
      <div class="items_container" id="print">
        <img src="/assets/img/book.jpg" alt="img" class="item_images">
        <p class="name_item">Причины печать свадебную книгу</p>
        <p class="contain_item info_media">7 причин напечатать свадебную фотокнигу <br>
          <br>
          1. Одна из первых семейных реликвий <br>
          Наверное многие помнят родительские свадебные альбомы? А сколько раз вы их пересматривали. Это память которая храниться годами и десятилетиями. А ведь представьте через 5, 10 лет сесть уже вместе со своими детьми и пересмотреть свадебную фотокнигу, прочувствовать все моменты и переживания этого дня. Это бесценно.
          <br>
          <br>
          2. Технологии в движении <br>
          Сейчас мир когда все меняется с бешеной скоростью. Во многих компьютерах уже нет дисководов. А буквально пару лет назад все фотографы отдавали готовые фотографии на дисках. А вот фото в печатном виде вечны. Вспомнить старые фото на которых изображены ваши бабушки и дедушки.
          <br>
          <br>
          3. Фотокнигу сложно потерять <br>
          А флешку со свадебной съемкой – легко. Она может сгореть, как и жесткий диск вашего компьютера, например. Облака – удобная вещь для быстрой передачи данных. Но можете ли вы с уверенностью сказать, что ваши файлы в облаках находятся в безопасности и завтра их не «убьет» новый вирус? Да, фото книга тоже может «погибнуть» в пожаре или при потопе. Но вероятность этого не так уж высока, правда?
          <br>
          <br>
          4. Фотокнигу уютнее смотреть с друзьями <br>
          В фото книге собраны самые ценные и тщательно отобранные моменты и расставлены в том порядке в котором они происходили в этот день.
          <br>
          <br>
          5. Напечатанные фото на много лучше <br>
          Эта магия до сих пор работает. Не спешите отказываться от печати фотографий, а тем более фотокниги.
          <br>
          <br>
          6. Фотокнига не требует реставрации время от времени <br>
          Как обычный фотоальбом, например. То тут в нём что-то отклеится, то там. А здесь пустое место теперь, потому что приезжала тетя из Ярославля и упросила забрать одну карточку себе на память. Если вы думаете, что альбом сделать дешевле фотокниги — это не так. Затраты на покупку красивого альбома и профессиональной распечатки отдельных фотографий по цене соизмеримы со стандартной фотокнигой. И это мы еще не посчитали время, которое уйдет на самостоятельное аккуратное оформление страниц.
          <br>
          <br>
          7. Если не сразу после свадьбы, то уже никогда <br>
          Если вы не можете найти в бюджете деньги на покупку фотокниги до свадьбы, то после не найдете точно. Это нам не раз подтверждал мой опыт. Со временем это забывается. И лишь через несколько лет можно только пожалеть об этом.
          Мне кажется, лучше пересмотреть расходы на транспорт, фейерверк и праздничную программу вечера (то, что может казаться важным именно в праздничный день), но заранее отложить деньги на печать фотокниги. Уже спустя год вы убедитесь, что словесные воспоминания о роскошном салюте не так греют душу, как фотографии с вашими эмоциями от поздравлений бабушки, которые хранит фотокнига.
          <br>
        </p>
        <!--<button class="btn_mnu" mat-ripple routerLink="/pages404">Читать далее</button>-->
      </div>
      <div class="items_container" id="wedding">
        <img src="/assets/img/НОВЫЕ/ПОЛЕЗНЫЕ%20СТАТЬИ/свадебная%20подготовка.jpg" alt="img" class="item_images">
        <p class="name_item">Свадебная подготовка</p>
        <p class="contain_item info_media">20 основных шагов при подготовке к свадьбе <br>
          <br>
          Чтобы не запутаться и подготовиться к этому дню, получая удовольствие от организации и самого свадебного дня. Предлагаю Вам, ознакомиться с 20 этапами подготовки.
          <br>
          <br>
          1.	Определиться с датой и бюджетом свадьбы. <br>
          <br>
          2.	Составить список гостей. <br>
          <br>
          3.	Выбрать и купить обручальные кольца. <br>
          <br>
          4.	Выбрать место проведения свадьбы и зарезервировать его. Помните, что, если праздник планируется в летний период, рестораны и загородные отели бронировать необходимо задолго до даты свадьбы.<br>
          <br>
          5.	Выбрать и заказать свадебное платье и аксессуары, а также костюм и аксессуары для жениха. <br>
          <br>
          6.	Выбрать место проведения для официальной церемонии регистрации брака и подать заявление. Это может быть ЗАГС или же выездная церемония. Если само торжество пройдет в другой день, подумайте о том, чтобы в день официальной росписи устроить съемку love-story и небольшой праздник только для членов семьи. Согласуйте эту дату с фотографом.<br>
          <br>
          7.	Разослать приглашения на свадьбу.<br>
          <br>
          8.	Назначить встречу со свадебным организатором, который подберет команду специалистов и поможет определиться с концепцией свадьбы. Или самостоятельно найти флористов, декораторов и ведущего и обсудить с ними стилистику и программу торжества.<br>
          <br>
          9.	Выбрать свадебного фотографа и оператора.<br>
          <br>
          10.	Сообщить гостям о дресс-коде. Чтобы гости могли подготовиться, делайте это заранее, можно даже добавить эту информацию в приглашения.<br>
          <br>
          11.	Арендовать транспорт. Желательно уже утвердить список гостей и бронировать транспорт на определенное количество мест.<br>
          <br>
          12.	Решить, каким будет ваш свадебный танец, выбрать музыку. Вы можете прорепетировать его дома или начать заниматься с профессиональным хореографом.<br>
          <br>
          13.	Нанять музыкантов или диджея. Музыка задаст тон всему празднику, поэтому внимательно отнеситесь к музыкальному наполнению вашего вечера.<br>
          <br>
          14.	Обсудить с флористом букет невесты и цветочное оформление праздника.<br>
          <br>
          15.	Выбрать парикмахера и визажиста и заранее записаться на репетицию свадебного образа, чтобы еще до торжества определиться с прической и макияжем.<br>
          <br>
          16.	Выбрать кондитера и заказать свадебный торт. Предварительно уточните у менеджера свадебной площадки, есть ли возможность обеспечить там его хранение, если его привезут заранее.<br>
          <br>
          17.	Подготовить схему рассадки и напечатать рассадочные карточки для гостей. Рассаживайте гостей с учетом родства, возраста и интересов — так, чтобы всем было комфортно.<br>
          <br>
          18.	Распределить обязанности на свадьбе. Решите, кто будет помогать в сборах невесты, встречать и рассаживать гостей и т.д. Желательно, чтобы этим занимался распорядитель.<br>
          <br>
          19.	Написать и распечатать свадебный тайминг и раздать всем, кто участвует в организации торжества. Делайте это заранее, чтобы у всех было время подготовиться.<br>
          <br>
          20.	Связаться со всеми подрядчиками, составить график времени прибытия. Запишите все номера телефонов и вместе с графиком передайте своему организатору (или координатору), чтобы он мог все контролировать в день торжества.<br>
          <br>

        </p>
        <!--<button class="btn_mnu" mat-ripple routerLink="/pages404">Читать далее</button>-->
      </div>
    </div>
  </div>
</section>
