@import "../../../../../styles"

.useful-articles-blog_wrapper
  text-align: center
  padding: 45px 0 0
//.container_wrapper
//  display: flex
//  flex-wrap: wrap
//  justify-content: space-between
//  padding: 25px 10px 100px
//.container_items
//  max-width: 320px
//  margin: 0 auto
//  width: 100%
//  //display: flex
//  //position: relative
//  //max-height: 565px
//  //overflow: hidden
//  //box-sizing: border-box
//.item_images
//  width: 250px
//  //height: auto
//  box-shadow: 0 3px 9px -1px rgba(0,0,0,0.7)
//
//.name_item
//  padding-top: 15px
//  text-align: left
//  user-select: none
//  font: 400 24px/26px $Montserrat
//.contain_item
//  padding-top: 30px
//  text-align: left
//  font: 400 16px/22px $Montserrat
//  text-overflow: ellipsis
//  user-select: none
//  //max-height: 565px
//  //overflow: hidden
////.btn_mnu
//  color: black
//  font-size: 14px
//  background-color: transparent
//  border: 2px solid rgba(102, 204, 255, 0.65)
//  padding: 0 10px
//  line-height: 30px
//  transition: all .25s ease-out
//  font-family: $Montserrat
//  cursor: pointer
//  outline: none
//  position: absolute
//  bottom: 0
//  //left: 50%
//  transform: translate(-50%, 0)
//  &:hover
//    color: black
//    background-color: rgba(102, 204, 255, 0.65)
//    border: 2px solid black
//    transition: all .25s ease-out



.container_wrapper
  padding: 25px 10px 100px

  .items_container
    padding-top: 30px
    .item_images
      width: 250px
      float: left
      margin: 70px 20px 0 0
      box-shadow: 0 3px 9px -1px rgba(0,0,0,0.7)
    .name_item
      text-align: center
      padding-top: 15px
      user-select: none
      font: 400 24px/26px $Montserrat
      //white-space: nowrap
    .contain_item
      //padding-top: 30px
      //padding-bottom: 20px
      padding: 30px 0 15px
      text-align: left
      font: 400 16px/22px $Montserrat
      text-overflow: ellipsis
      user-select: none
    .btn_mnu
      color: black
      //font-size: 14px
      background-color: transparent
      border: 2px solid rgba(102, 204, 255, 0.65)
      padding: 0 10px
      //line-height: 30px
      transition: all .25s ease-out
      //font-family: $Montserrat
      cursor: pointer
      outline: none
      position: relative
      //bottom: 35px
      //left: 50%
      //transform: translate(-50%, 0)
      font: 400 14px/30px $Montserrat
      &:hover
        color: black
        background-color: rgba(102, 204, 255, 0.65)
        border: 2px solid black
        transition: all .25s ease-out


@media screen and (max-width: 996px)
  .items_container
    max-width: 100%
    //padding-bottom: 55px
@media screen and (max-width: 588px)
  .container_wrapper
    padding: 10px 10px 70px
    .items_container
      .item_images
        margin: 30px 20px 0 0
        float: none
        clear: both
      .name_item
        font-size: 18px
      .contain_item
        font-size: 14px

@media screen and (max-width: 320px)
  .items_container
    margin: 0



