<section class="services-and-prices">
  <div class="wrap">
    <div class="services-and-prices_wrapper">
      <h2 class="name_section">Услуги и цены</h2>
      <div class="container_wrapper">
        <div class="container_item">
          <img src="/assets/img/1.jpg" alt="images_useful-articles" class="item_images">
          <p class="item_name">Свадебная фотосессия</p>
          <div class="overlay_bc"></div>
        </div>
        <div class="container_item">
          <img src="/assets/img/2.jpg" alt="images_useful-articles" class="item_images">
          <p class="item_name">Семейная фотосессия</p>
          <div class="overlay_bc"></div>
        </div>
        <div class="container_item">
          <img src="/assets/img/3.jpg" alt="images_useful-articles" class="item_images">
          <p class="item_name">Фотосессия беремености</p>
          <div class="overlay_bc"></div>
        </div>
        <div class="container_item">
          <img src="/assets/img/4.jpg" alt="images_useful-articles" class="item_images">
          <p class="item_name">Съемка Love Story</p>
          <div class="overlay_bc"></div>
        </div>
        <div class="container_item">
          <img src="/assets/img/5.jpg" alt="images_useful-articles" class="item_images">
          <p class="item_name">Фотокниги</p>
          <div class="overlay_bc"></div>
        </div>
        <div class="container_item">
          <img src="/assets/img/6.jpg" alt="images_useful-articles" class="item_images">
          <p class="item_name">Подарочные сертификаты</p>
          <div class="overlay_bc"></div>
        </div>
      </div>
    </div>
  </div>
</section>
