@import "../../../../../styles"

.useful-articles_wrapper
  text-align: center
  width: 100%
  margin: 0 auto
  max-width: 1034px
  padding-top: 25px

.container_wrapper
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  padding-top: 35px

.container_items
  max-width: 305px

.item_images
  max-width: 190px
  max-height: 190px
  box-shadow: 0 3px 9px -1px rgba(0,0,0,0.7)


.name_item
  padding-top: 15px
  font-size: 24px
  font-family: $Montserrat
  text-align: left

.contain_item
  padding-top: 30px
  text-align: left
  font-family: $Montserrat
  font-size: 16px
  line-height: 22px

.btn_mnu
  color: #6699ff
  font-size: 21px
  background-color: transparent
  border: 2px solid #6699ff
  padding: 0 25px
  line-height: 50px
  transition: all .25s ease-out
  font-family: $Montserrat
  margin: 20px 0
  cursor: pointer
  outline: none
  &:hover
    color: black
    background-color: #6699ff
    border: 2px solid black
    transition: all .25s ease-out

.btn_all
  color: #6699ff
  font-size: 24px
  background-color: transparent
  border: 2px solid #6699ff
  padding: 0 50px
  line-height: 50px
  transition: all .25s ease-out
  font-family: $Montserrat
  margin: 20px 0
  cursor: pointer
  outline: none
  &:hover
    color: black
    background-color: #6699ff
    border: 2px solid black
    transition: all .25s ease-out
