<section class="useful-articles">
  <div class="wrap">
    <div class="useful-articles_wrapper">
      <h2 class="section_name">Полезные статьи</h2>
      <div class="container_wrapper">
        <div class="container_items">
          <img src="/assets/img/1-2.jpg" alt="img" class="item_images">
          <p class="name_item">Lorem ipsum dolor.</p>
          <p class="contain_item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci aspernatur debitis et harum ipsum labore magni molestiae nam nemo, nihil, nulla placeat provident quidem, quos rem sed sunt voluptates!</p>
          <button class="btn_mnu">Читать далее</button>
        </div>
        <div class="container_items">
          <img src="/assets/img/1-2.jpg" alt="img" class="item_images">
          <p class="name_item">Lorem ipsum dolor.</p>
          <p class="contain_item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci aspernatur debitis et harum ipsum labore magni molestiae nam nemo, nihil, nulla placeat provident quidem, quos rem sed sunt voluptates!</p>
          <button class="btn_mnu">Читать далее</button>
        </div>
        <div class="container_items">
          <img src="/assets/img/1-2.jpg" alt="img" class="item_images">
          <p class="name_item">Lorem ipsum dolor.</p>
          <p class="contain_item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci aspernatur debitis et harum ipsum labore magni molestiae nam nemo, nihil, nulla placeat provident quidem, quos rem sed sunt voluptates!</p>
          <button class="btn_mnu">Читать далее</button>
        </div>
      </div>
      <button class="btn_all">Все статьи</button>
    </div>
  </div>
</section>
