<section class="pages404">
  <div class="bc">
    <div class="wrap">
      <div class="pages404_wrapper">
        <p class="pages404_text">
          Ой!...<br>
          Страница временно не доступна. <br>
          Сейчас сайт находиться на разработке. <br>
          <br>
          Спасибо за проявленый интерес. <br>
          Попробуйте вернуться на страницу позже. <br>
        </p>
        <img src="/assets/img/polar.png" alt="img" class="pages404_images">
      </div>
      <button class="pages404_btn" mat-ripple pageScroll [pageScrollDuration]="0" [pageScrollOffset]="9999" routerLink="/" href="#top-gallery" (click)="showMenu = false">На главную</button>
    </div>
  </div>
</section>
