<section class="footer-page-portfolio">
  <div class="wrap">
    <div class="section_wrapper">
      <div class="container_item">
        <div class="logo"><img src="/assets/img/лого%20copy.png" alt="logo_images"></div>
        <p class="footer_information">
          Свадебный фотограф Киев <br>
          Евгений Осокин <br>
          ievgeniiosokin@gmail.com <br>
          093-534-53-71 <br>
        </p>
        <div class="worlds">
          <a href="https://www.facebook.com/evgeniosokin" class="worlds_item" target="_blank"><img src="/assets/img/fb.png" alt="img" class="fb"></a>
          <a href="https://www.instagram.com/evgeniyosokin/" class="worlds_item" target="_blank"><img src="/assets/img/insta.png" alt="img" class="inst"></a>
          <a href="https://www.youtube.com/channel/UCmYHwS5zsnpeyeaCmXr31Hw" class="worlds_item" target="_blank"><img src="/assets/img/yt.png" alt="img" class="yt"></a>
        </div>
      </div>
      <p class="footer_end">Сайт Евгения Осокина. Все права защищены 2018 г. <a href="https://www.facebook.com/dmytrofialko">Создано Фиалко Дмитрием</a></p>
    </div>
  </div>
</section>
