<section class="hero-toolbar" id="toolbar">
  <div class="wrap">
    <div class="toolbar_wrapper">
      <div class="toolbar_logo">
        <img *ngIf="!isHidden()" class="images_logo" src="/assets/img/НОВЫЕ/variant2.png" alt="images_logo">
        <nav class="toolbar_nav" (window:resize)="res($event)" [class.active]="showMenu ? 'active' : null">
          <ul class="toolbar_items">
            <li class="toolbar_item"><a pageScroll [pageScrollDuration]="0" [pageScrollOffset]="9999" routerLink="/" href="#top-gallery" (click)="showMenu = false" class="toolbar_item_link">ГЛАВНАЯ</a></li>
            <li class="toolbar_item"><a  pageScroll [pageScrollDuration]="0" [pageScrollOffset]="9999" routerLink="/page-portfolio" href="#portfolio-page-portfolio" (click)="showMenu = false"  class="toolbar_item_link">ПОРТФОЛИО</a></li>
            <li class="toolbar_item show"><p class="toolbar_item_link ">УСЛУГИ И ЦЕНЫ</p>
              <ul class="hover_mnu_items">
                <li class="hover_mnu_item"><a pageScroll [pageScrollDuration]="0" [pageScrollOffset]="9999" routerLink="/PageWedding" href="#banner-wedding" (click)="showMenu = false" class="hover_mnu_item_link">Свадебная фотосессия</a></li>
                <li class="hover_mnu_item"><a pageScroll [pageScrollDuration]="0" [pageScrollOffset]="9999" routerLink="/PageLoveStory" href="#banner_love_story" (click)="showMenu = false" class="hover_mnu_item_link">Съёмка Love Story</a></li>
                <li class="hover_mnu_item"><a pageScroll [pageScrollDuration]="0" [pageScrollOffset]="9999" routerLink="/PageFamily" href="#banner_family" (click)="showMenu = false" class="hover_mnu_item_link">Семейная съёмка</a></li>
                <li class="hover_mnu_item"><a pageScroll [pageScrollDuration]="0" [pageScrollOffset]="9999" routerLink="/PagePregnancy" href="#banner_pregnancy" (click)="showMenu = false" class="hover_mnu_item_link">Съёмка беременности</a></li>
                <!--<li class="hover_mnu_item"><a routerLink="/pages404" href="#" class="hover_mnu_item_link">Фотокниги</a></li>-->
                <li class="hover_mnu_item"><a routerLink="/pages404" href="#" (click)="showMenu = false" class="hover_mnu_item_link">Фотокниги и сертификаты</a></li>
              </ul>
            </li>
            <li class="toolbar_item"><a pageScroll [pageScrollDuration]="0" [pageScrollOffset]="9999" routerLink="/PageBlog" href="#top-gallery-blog" (click)="showMenu = false" class="toolbar_item_link">ПОЛЕЗНЫЕ СТАТЬИ</a></li>
            <li class="toolbar_item"><a pageScroll [pageScrollDuration]="0" [pageScrollOffset]="90" routerLink="/" href="#contacts" (click)="showMenu = false" class="toolbar_item_link">КОНТАКТЫ</a></li>
          </ul>
        </nav>
        <div class="btn_mnu">
          <img class="images_logo_480" src="/assets/img/logo_480.jpg" alt="images_logo_480">
          <img src="/assets/img/open.png" alt="img" class="btn_mnu_icon" (click)="showMenu = !showMenu">
        </div>
      </div>
    </div>
    <a href="#" title="Вернуться к началу" class="topbutton"><img src="/assets/img/up.png" alt="arrow_up"></a>
  </div>

</section>
