<section class="portfolio">

  <div class="wrap">
    <div class="portfolio_wrapper">
      <h2 class="name_section">Портфолио</h2>
      <div class="container_wrapper">
        <div class="container_item">
          <img src="/assets/img/photo_ship.png" alt="img" class="images_item">
          <p class="name_item">Свадебные съемки</p>
          <div class="overlay_bg"></div>
        </div>
        <div class="container_item">
          <img src="/assets/img/photo_ship.png" alt="img" class="images_item">
          <p class="name_item">Свадебные съемки</p>
          <div class="overlay_bg"></div>
        </div>
        <div class="container_item">
          <img src="/assets/img/photo_ship.png" alt="img" class="images_item">
          <p class="name_item">Свадебные съемки</p>
          <div class="overlay_bg"></div>
      </div>
        <div class="container_item">
          <img src="/assets/img/photo_ship.png" alt="img" class="images_item">
          <p class="name_item">Свадебные съемки</p>
          <div class="overlay_bg"></div>
      </div>
        <div class="container_item">
          <img src="/assets/img/photo_ship.png" alt="img" class="images_item">
          <p class="name_item">Свадебные съемки</p>
          <div class="overlay_bg"></div>
      </div>
        <div class="container_item">
          <img src="/assets/img/photo_ship.png" alt="img" class="images_item">
          <p class="name_item">Свадебные съемки</p>
          <div class="overlay_bg"></div>
      </div>
      </div>
      <button class="my_btn">Подробнее</button>
    </div>
  </div>

</section>
