<p>
  <!--{{text}}-->
  <div class="container_items" *ngFor="let item of ">
    <img src="{{item.}}" alt="img" class="item_images">
    <p class="name_item">Выбор фотографа</p>
    <p class="contain_item info_media">{{}}</p>

    <button mat-button (click)="openDialog('Фотограф — один из важнейших свадебных подрядчиков. Мы подготовили для тебя советы, которые помогут избежать ошибок при выборе фотографа на свадьбу. С чего следует начать выбор? Прежде всего это составить список понравившихся фотографов. Где искать фотографов? Социальные сети, сейчас очень популярный инструмент для поиска различных услуг, развлечений и в том числе фотографов. Друзья, родственники или знакомые кто уже пользовался услугами фотографов и могут порекомендовать достойного кандидата.')" class="btn_mnu" mat-ripple  pageScroll [pageScrollDuration]="0" [pageScrollOffset]="35"  >Читать далее</button>
    <!--<button (click)="ClickButton()" class="btn_mnu" mat-ripple  pageScroll [pageScrollDuration]="0" [pageScrollOffset]="35"  >Читать далее</button>-->
    <!--<button class="btn_mnu" mat-button (click)="openDialog()" mat-ripple pageScroll [pageScrollDuration]="0" [pageScrollOffset]="35" routerLink="/PageBlog" href="#choice" >Читать далее</button>-->
    </div>
  <button mat-dialog-close>X</button>
</p>
