<section class="contacts">
  <div class="wrap">
    <div class="contacts_wrapper">
      <h2 class="section_name">Контакты</h2>
      <div class="container_wrapper">
        <div class="container_item">
          <p class="phone">Телефон:
            <br>
            +38-093-534-53-71 (Viber)</p>
          <p class="mail">E-mail:
            <br>
            ievgeniiosokin@gmail.com</p>
          <div class="worlds">
            <a href="#" class="worlds_item"><img src="/assets/img/fb.png" alt="img"></a>
            <a href="#" class="worlds_item"><img src="/assets/img/insta.png" alt="img"></a>
            <a href="https://www.youtube.com/channel/UCmYHwS5zsnpeyeaCmXr31Hw" class="worlds_item"><img src="/assets/img/yt.png" alt="img"></a>
          </div>
        </div>
        <div class="container_item">
          <form name="text" class="item_input">
            <p class="container_input_text">Оставьте заявку и я обязательно свяжусь с Вами в удобное для Вас  время</p>
            <input type="text" size="20" class="input_text" placeholder="Имя*">
            <input type="email" class="input_mail" placeholder="E-mail">
            <input type="tel" class="input_number" placeholder="Телефон*" pattern="0">
            <textarea name="comment" rows="10" placeholder="Сообщение" class="input_messenger"></textarea>
            <input type="submit" value="Отправить" class="input_btn">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
