<section class="contacts" id="contacts">
  <div class="contacts_wrapper wrap">
    <div class="name_section">Контакты</div>
    <div class="container_wrapper">
      <div class="container_item">
        <!--<a href="tel:+38093-534-53-71" class="phone">Телефон:-->
          <!--<br>-->
          <!--093-534-53-71 (Viber)</a>-->
        <!--<a href="mailto:ievgeniiosokin@gmail.com" class="mail">E-mail:-->
          <!--<br>-->
          <!--ievgeniiosokin@gmail.com</a>-->
        <!---->
        <div class="cont_wrapper">
          <div class="phone_cont"></div>
          <a href="tel:+38093-534-53-71" class="phone">093-534-53-71</a>
        </div>
        <div class="cont_wrapper">
          <div class="mail_cont"></div>
          <a href="mailto:ievgeniiosokin@gmail.com" class="mail">ievgeniiosokin@gmail.com</a>
        </div>
        <div class="worlds">
          <a href="https://www.facebook.com/evgeniosokin" class="worlds_item" target="_blank"><img src="/assets/img/fb.png" alt="img" class="fb"></a>
          <a href="https://www.instagram.com/evgeniyosokin/" class="worlds_item" target="_blank"><img src="/assets/img/insta.png" alt="img" class="inst"></a>
          <a href="https://www.youtube.com/channel/UCmYHwS5zsnpeyeaCmXr31Hw" class="worlds_item" target="_blank"><img src="/assets/img/yt.png" alt="img" class="yt"></a>
        </div>
      </div>
      <!--<div class="container_item">-->
        <!--<form (submit)="send()" name="text" class="item_input">-->
          <!--<p class="container_input_text">Оставьте заявку и я обязательно свяжусь с Вами в удобное для Вас  время</p>-->
          <!--<input type="text" size="20" class="input_text" placeholder="Имя*">-->
          <!--<input [(ngModel)]="email" name="email" type="email" class="input_mail" placeholder="E-mail">-->
          <!--<input type="tel" class="input_number" placeholder="Телефон*" pattern="0">-->
          <!--<textarea name="comment" rows="10" placeholder="Сообщение" class="input_messenger"></textarea>-->
          <!--<button routerLink="/Pages404" type="submit" mat-ripple class="input_btn">Отправить</button>-->
        <!--</form>-->
      <!--</div>-->
    </div>
  </div>
</section>
