@import "../../../../../styles"


.section_wrapper
  width: 100%
  margin: 0 auto
  max-width: 1034px
  text-align: center
  padding-top: 40px
  padding-bottom: 15px

.container_item
  display: flex
  justify-content: space-around

.footer_information
  font-family: $Montserrat
  font-size: 20px
  line-height: 22px


.worlds
  //max-width: 215px
  display: flex
  justify-content: space-around
  &_item
    transition: all .25s ease-out
    padding: 0 10px
    &:hover
      transform: scale(1.1)
      transition: all .25s ease-out


.footer_end
  padding-top: 25px
  font-family: $Montserrat
  font-size: 12px
  & a
    text-decoration: none
    color: #cbcac7
    font-size: 14px
