<section class="content_wedding">
  <div class="wrap">
    <div class="content_wedding_wrapper">

      <div class="container_wrapper">
        <h2 class="section_name">Свадебная фотосессия Киев - цены</h2>
        <div class="container_price">
          <div class="container_price_block">
            <div class="block_name">«Эконом» - 3000 грн.</div>
            <p class="block_text">
              Предварительная встреча и консультация <br>
              <br>
              Продолжительность съемки <strong>4 часа</strong> <br>
              <br>
              Кол-во фото 150-300 (цветокоррекция, авторская обработка, переведение в ч/б) <br>
              <br>
              <strong>20 фото</strong> в детальной ретуши <br>
              <br>
              Запись всех фото на флешку <br>
              <br>
              Срок отдачи готового материала 2 недели <br>
            </p>
            <button class="block_btn">Заказать</button>
          </div>
          <div class="container_price_block">
            <div class="block_name">«Оптимальный» - 6000 грн.</div>
            <p class="block_text">
              Предварительная встреча и консультация <br>
              <br>
              Продолжительность съемки <strong>8 часов </strong>(сборы, роспись, прогулка, ресторан до первого танца) <br>
              <br>
              Кол-во фото 400-600 (цветокоррекция, авторская обработка, переведение в ч/б)<br>
              <br>
              <strong>40 фото</strong> в детальной ретуши<br>
              <br>
              Печать <strong>15 фото</strong> (15х21)<br>
              <br>
              Скидка на предсвадебную LoveStory <strong>- 15%</strong><br>
              <br>
              Слайд шоу из фото с LoveStory<br>
              <br>
              Запись всех фото на флешку<br>
              <br>
              Срок отдачи готового материала 3 недели<br>
            </p>
            <button class="block_btn">Заказать</button>
          </div>
          <div class="container_price_block">
            <div class="block_name">«Премиум» - 8000 грн.»</div>
            <p class="block_text">
              Предварительная встреча и консультация <br>
              <br>
              Продолжительность съемки <strong>12 часов</strong> (сборы, роспись, прогулка, ресторан до первого танца)<br>
              <br>
              Кол-во фото около 800 (цветокоррекция, авторская обработка, переведение в ч/б)<br>
              <br>
              <strong>60 фото</strong> в детальной ретуши<br>
              <br>
              Печать  <strong>25 фото</strong> (15х21)<br>
              <br>
              Скидка на предсвадебную LoveStory <strong>- 25%</strong><br>
              <br>
              Слайд шоу из фото с LoveStory<br>
              <br>
              Запись всех фото на флешку<br>
              <br>
              Срок отдачи готового материала 3 недели<br>
            </p>
            <button class="block_btn">Заказать</button>
          </div>
        </div>
        <div class="block_information">
          • Дополнительный час съемки 700 грн. <br>
          • Предоплата при бронировании даты 20% <br>
          • Дата и время фотосъемки закрепляются после предоплаты. <br>
          • Полный расчет - в день съемки с учетом предоплаты. <br>
          • Если съемка проходит за черто города транспорт оплачивается <br>
        </div>
      </div>

    </div>
  </div>
</section>
