<section class="articles-page-portfolio">
  <div class="articles-page-portfolio_wrapper wrap">
    <div class="name_section">Для чего фотографу портфолио ...?</div>
    <p class="section_text info_media">
      Перед тем, как найти свадебную команду…<br>
      ОпредеПеред тем, как найти свадебную команду…<br>
      Определись с тем, какие услуги тебе понадобятся. Если ты планируешь камерное торжество в кругу самых родных и с удовольствием сама займешься разработкой стилистики и программы праздника, воспользуйся услугами свадебного координатора в день торжества, который будет контролировать тайминг и поможет решить организационные вопросы.<br>
      <br>
      А если планируется большой прием на сотню гостей, без помощи профессионального организатора во время подготовки не обойтись. Он поможет тебе найти подрядчиков, определиться со стилистикой и подобрать подходящую площадку, а также проконтролирует бюджет и поможет в решении множества других задач.<br>
      СВАДЕБНЫЙ ОРГАНИЗАТОР И СВАДЕБНЫЙ КООРДИНАТОР: В ЧЕМ РАЗНИЦА?<br>
      <br>
      Гармония и уют: свадьба Сергея и ДариныШум моря, музыка любви и дух старинного особняка: стилизованная фотосессияНежность весны: свадьба Димы и Жени<br>
      Перед тем, как выбрать дату свадьбы…<br>
      Определись с тематикой и стилистикой торжества. Большинство пар выбирают для проведения праздника лето, в то время как поздней осенью, зимой или ранней весной тоже можно устроить незабываемое торжество! Например, уютный праздник для узкого круга друзей в загородном доме можно провести снежной зимой, греясь у камина, а когда как не в марте собрать букет невесты из ландышей!<br>
      <br>
      Bansko: свадебная love-storyЛюбовь к гранатам: свадьба Карена и БеллыЗакат Империи: стилизованная фотосессия<br>
      Перед тем, как забронировать площадку…<br>
      Продумай формат и примерный тайминг мероприятия. Наиболее оптимальным вариантом станет площадка, на которой есть возможность провести и церемонию и банкет. Так ты сэкономишь время (на разъездах) и деньги. Не считая того, что аренда одной площадки наверняка будет стоить дешевле, чем двух в разных концах города, так еще и транспортные расходы заметно уменьшатся, а декор можно будет использовать повторно (например, цветочные композиции из зоны церемонии перенести в фотозону).
      <br>
      Продуманный тайминг позволит сэкономить и на многом другом. Например, если фуршет займет 30 минут, а не затянется на несколько часов, расходы на напитки и закуски будут ниже. А если праздник закончится вовремя, тебе не придется переплачивать за дополнительные часы аренды площадки и работы подрядчиков.
      ВЫБИРАЕМ СВАДЕБНУЮ ПЛОЩАДКУ. НА ЧТО ОБРАТИТЬ ВНИМАНИЕ?<br>
      <br>
      Элегантная и утонченная свадьба в ПровансеНежность любви: свадьба Ильи и АлександрыВ солнечной Черногории: свадьба Максима и Натальи<br>
      Перед тем, выбрать фотографа…<br>
      Обязательно устрой личную встречу. Тебе должно быть комфортно в общении с ним, иначе в день свадьбы ты не сможешь вести себя естественно перед камерой, а съемка принесет больше стресса и переживаний, чем радости. Хороший способ потренироваться позировать и сработаться с фотографом – устроить предсвадебную love-story.<br>
      <br>
      Еще один немаловажный этап – это подписание договора. Обязательно уточни, сколько и за что ты платишь. Узнай, есть ли у фотографа пакеты услуг (как правило, они дешевле, чем почасовая оплата) и какие дополнительные услуги включены в стоимость (печать фотокниги, помощь второго фотографа и др).<br>
      <br>
      Гармония запада и востока: свадьба в КитаеShine & Wine Wedding: история Юлии и ДанияраИзысканность и нежность: свадьба Александра и Ксении<br>
      Перед тем, как составить меню…<br>
      Обдумай концепцию свадьбы: будет ли эта дружеская вечеринка, романтическое торжество или пышный прием. Для каждого варианта подойдет свое меню и свой формат ужина. На более неформальном празднике можно устроить ужин в формате фуршета с разнообразными закусками, сырами, сэндвичами или бургерами – гости не останутся голодными, праздник пройдет в легкой и расслабленной атмосфере, а тебе удастся сэкономить.
      <br>
      Классический формат свадьбы подразумевает полноценный ужин, но и здесь можно сократить расходы. Вместо того, чтобы составлять меню из множества различных позиций, вполне уместно будет подготовить только один вариант горячего, особенно если закуски были разнообразными и довольно сытными. Или
    </p>
  </div>
</section>
