@import "sass/my-css-reset"
@import "sass/vars"

.wrap
  width: 100%
  max-width: 1034px
  margin: 0 auto
h2
  font-family: $Montserrat
  font-size: 36px
  font-weight: bold

.portfolio, .useful-articles
  background-color: #e5e5e5

.footer
  background-color: #6699ff

