@import "../../../../styles"

.wrapper
  display: flex
  justify-content: center
  margin: 0 auto
  //padding: 0 10px
  //max-width: 1034px
  position: relative
  width: 100%
.image_popup
  width: 100%
  max-width: 430px
.popup_btn
  background: transparent
  border: none
  cursor: pointer
  position: absolute
  top: -20px
  right: -20px
  outline: none
