@import "../../../../styles"

.gallery-album-portfolio-wrapper
  position: relative
  padding: 0 10px
  width: 100%
.masonry-item
  width: 335px
  max-width: 100%
  position: relative
//margin: 0 auto
.album_image
  //width: 335px
  //width: 25%
  height: auto
  max-width: 100%
  padding: 2px
  //margin: 0 auto

