@import "../../../../styles"

.gallery-album-portfolio-wrapper
  position: relative
  padding: 0 10px
  width: 100%
.masonry_wrapper
  margin: 0 auto
.masonry-item
  width: 300px
  max-width: 100%
  position: relative
//margin: 0 auto
.album_image
  width: 300px
  height: auto
  max-width: 100%
  padding: 2px
  transition: all .25s ease-out
  &:hover
    transform: scale(0.95)
    transition: all .25s ease-out
    //border-color: white
    cursor: pointer
.album_image_btn
  //width: 300px
  padding-left: 0
  padding-right: 0
