<section class="gallery-album-portfolio">
  <div class="gallery-album-portfolio-wrapper wrap">

      <ngx-masonry [options]="myOptions"  [useImagesLoaded]="true" class="masonry_wrapper">

          <ngxMasonryItem class="masonry-item test" *ngFor="let item of gallery">
            <!--<img src="{{item}}" alt="img" class="album_image">-->
            <button mat-button (click)="openDialog(item)" class="album_image_btn"><img src="{{item}}" alt="img" class="album_image"></button>
          </ngxMasonryItem>

      </ngx-masonry>

  </div>
</section>
