<section class="gallery-album-portfolio">
  <div class="gallery-album-portfolio-wrapper wrap">

      <ngx-masonry [useImagesLoaded]="true" class="masonry_wrapper">

          <ngxMasonryItem class="masonry-item test" *ngFor="let item of gallery">
            <img src="{{item}}" alt="img" class="album_image">
          </ngxMasonryItem>

      </ngx-masonry>


    <!--<div class="container_wrapper" *ngFor="let item of gallery">-->
      <!--<img src="{{item}}" alt="img" class="album_images">-->
    <!--</div>-->



  </div>
</section>
